<html>
<head>
    <title>Inspiring Quote</title>
    <link rel="stylesheet" href='/static/style.css'>
    <link href='https://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet'>
</head>
<body>
      <div class="center">
          <h1 class="medieval-text">An inspiring quote</h1>
          <h3 class="medieval-text">"The only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it."</p>
          <h2 class="medieval-text">- Steve Jobs</p>
          <h3 class="medieval-text">App by Mischa van den Burg</p>
          <h3 class="medieval-text">Goedemorgen Jesse</p>
      </div>
</body>
</html>
