body {
    background-color: #F5DEB3;
}

.medieval-text {
    font-family: 'MedievalSharp', cursive;
}

.center {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

